<html>
    <head>
        <title>Anderson's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="testlink">Anderson's blog!</a></h1>
        </div>

        <div>
            <p>published: 23.06.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Here is a brief test of my first post. Basic HTML only!</p>
        </div>

        <div>
            <p>published: 23.06.2014, 17:53</p>
            <h2><a href="">My second post!</a></h2>
            <p>God damn, I mean, don't you guys get tired of eating oreos or something?</p>
        </div>
    </body>
</html>
